*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
.left{
  float: left;
  height: 100vh;
  width: 50%;
  background-color: #FFFFFF;
}
.geometric{
  height: 100vh;
  width: 50%;
  background-color: #FFFFFF;
}
.square{
  display: flex;
  justify-content:left;
  width: 120px;
  height: 120px;
}
.square img{
  position: relative;
  top: -20px;
  left: -20px;
}
.hexagon{
  position: relative;
  right: -20px;
  bottom: -70%;
}
.circle{
  position: relative;
  right: -90%;
  bottom: -30%;
}
.triangle{
  position: relative;
  right: -50%;
  bottom: 50%;
}
.title{
  display: flex;
  position: relative;
  top: 50%;
}
.h1{
  font-size: 2rem;
  z-index: 1;
  margin: 0 25px;
}
.right{
  float: right;
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
/*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 */}
.form-container{
  background-color: #ffffff;
  width: 90%;
  margin-right: 5px;
  margin-top: 10%;
  padding: 10px;
}

label{
  margin: 0 5px;
  font-size: 1rem;
}
  p {
  margin: 0 0 5px;
  }
  input, textarea,
  select {
  position: relative;
  left: 8px;
  width: calc(100% - 18px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #090909;
  outline: none;
  }
  input::placeholder {
  color: #666;
  }
  button {
  position: relative;
  left: 48px;
  width: 90%;
  padding: 10px;
  border: none;
  background: #4582EC;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  }
 .btn-bases:hover {
  background: #0b6622;
  }
.btn-csv{
  width: 30%;
  padding: 10px;
  border: none;
  background: #4582EC;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 20px 10px;
  position: relative;
  left: 5px;
}
.btn-csv:hover{
  background: #0b6622;

}
.btn-bases{
  width: 41%;
  padding: 10px;
  border: none;
  background: #4582EC;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 40px;
  position: absolute;
  left: 52%;
}
